{% extends "base.html.twig" %}


{% block title %}e-Feng Shui{% endblock %}

{% block body %}



<!-- multistep form -->
<form method="POST" action="" id="msform" enctype="multipart/form-data">
	<!-- progressbar -->
	<ul id="progressbar">
	
		<li class="active">Etape 1</li>
		<li>Etape 2</li>
		<li>Etape 3</li>
	</ul>
	<!-- fieldsets -->
	<fieldset id="first">
		<h2 class="fs-title">Etape 1</h2>
			    {{ form_start(formDemande) }}
				{{ form_row(formDemande.titre_diagnostic)}}
				{{ form_row(formDemande.nb_m_carre)}}
				{{ form_row(formDemande.lieu)}}
				{{ form_row(formDemande.annee_constr)}}			
		<input type="button" name="next" id="next-1" class="next action-button" value="Next">

	</fieldset>
	<fieldset id="second">

		<h2 class="fs-title">Etape 2</h2>
				{{ form_row(formDemande.plan_lieu)}}
				{{ form_row(formDemande.photo_lieu)}}
				{{ form_row(formDemande.orientation)}}
		<input type="button" name="previous" id="prev-2" class="previous action-button" value="Previous">
		<input type="button" name="next" id="next-2" class="next action-button" value="Next">
		
	</fieldset>
	<fieldset id="third">

		<h2 class="fs-title">Etape 3</h2>
		<input type="button" name="previous" id="prev-3" class="previous action-button" value="Previous">
				{{ form_row(formDemande.ajouter) }}
				{{ form_end(formDemande) }}	
		</fieldset>
		
</form>

{% endblock %}

