
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Efengshui!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags("app") }}
        {% endblock %}
    </head>
    <header>
       <nav class="main-navigation">
      <div class="row">
       <nav class="col-lg-10">
        <div class="navbar-logo">

            <a ref="#" class="nav-link"><img src="./img/logo.png" atl="logo efeng shui"></a>
        <h1>Plateforme de diagnostic Feng Shui en ligne</h1>
        </div>
       </nav>

       <div class="col-lg-2">

       <div class="icone-langue">
            <a href="#"><i class="fas fa-globe fa-2x"></i></a>
        </div>

        <div class="dropdown">
            <a href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user-circle fa-2x"></i>
            </a>


<!-- Si PAS CONNECTé-->
{% if not is_granted("IS_AUTHENTICATED_FULLY") %}

                <a class="dropdown-item" href="{{ path("app_login") }}">Se connecter</a>
            {% endif %}


<!-- Si USER-->
{% if is_granted("IS_AUTHENTICATED_FULLY") %}


            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="{{ path("compte_user") }}">Mon compte</a>
                <a class="dropdown-item" href="{{ path("app_logout") }}">Déconnexion</a>
            </div>
            {% endif %}

<!-- Si ADMIN-->

{% if is_granted("ROLE_ADMIN") %}

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="{{ path("gestion") }}">Mon compte</a>
                <a class="dropdown-item" href="{{ path("accueil") }}">Liste des clients</a>
                <a class="dropdown-item" href="{{ path("accueil") }}">Liste des demandes</a>
                <a class="dropdown-item" href="{{ path("accueil") }}">Liste des diagnostics</a>
                <a class="dropdown-item" href="{{ path("accueil") }}">Déconnexion</a>
            </div>
{% endif %}

        </div>
      
        </div>
        </div>


        <ul class="nav-list">
            <li class="nav-list-item">
                <a href="{{ path('accueil') }}" class="nav-link">Accueil</a>
            </li>
            <li class="nav-list-item">
                <a href="{{ path('criteres') }}" class="nav-link">Diagnostic</a>
            </li>
            <li class="nav-list-item">
                <a href="{{ path('fengshui') }}" class="nav-link">Le feng shui</a>
            </li>
            <li class="nav-list-item">
                <a href="{{ path('faq') }}" class="nav-link">FAQ</a>
            </li>
        </ul>

    </nav>
    </header>
    <body>
       {% for type, messages in app.flashes %}
            <div class="alert alert-{{ type }}">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        {% endfor %}
    </body>
        {% block body %}{% endblock %}
    <footer><footer class="page-footer">
        <!-- Footer Links -->
        <div class="container-fluid">

            <!-- Grid row -->
            <div class="row">

            <!-- Grid column -->
            <div class="col-lg-6">

                <!-- Content -->
                <div class="mention">
                <a href="#" title="mentions legales" >Mentions légales</a><br>
                <a href="{{ path("contact") }}" title="contactez-nous">Contactez-nous</a>
                </div>
            </div>
            <!-- Grid column -->
            <div class="col-lg-5">           
<!-- Newsletter -->

<h5 class="newsletter">Newsletter</h5>
<form class="register-newsletter">
<input type="text" required="" placeholder="Enter your email">
<button type="submit" class="btn-search">Envoyer</button>

        <div class="reseaux-sociaux">
        <a href="#"><i class="fab fa-facebook fa-1x"></i></a>
        <a href="#"><i class="fab fa-twitter fa-1x"></i></a>
        <a href="#"><i class="fab fa-instagram fa-1x"></i></a>
        <a href="#"><i class="fab fa-linkedin-in fa-1x"></i></a>
        <a href="#"><i class="fab fa-google-plus-g fa-1x"></i></a>
        <a href="#"><i class="fab fa-youtube fa-1x"></i></a>
        </div>
        </form>
            </div>
            </div>
        </div>

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2020 Copyright:
            
        </div>

        {% block javascripts %}{{ encore_entry_script_tags("app") }}{% endblock %}
    </footer>
   
</html>
