{% extends 'base.html.twig' %}

{% block title %} e-Feng Shui {% endblock %}

{% block body %}


<h2>Mon Compte</h2>


<h3>Mes informations</h3>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th><th>Nom</th><th>Prenom</th>
                <th>Actions</th>
            </tr>
        </thead>

        {# {% for critere in app.user.criteres %} #}
            {# <tr> #}
                {# <td>{{ critere.diagnostic.id }}</td> #}
                {# <td>{{ critere.diagnostic.date|date("d/m/Y") }}</td> #}
                {# <td>{{ critere.diagnostic.statut_paiement }}</td> #}
                {# <td>{{ critere.diagnostic.prix }}</td> #}
                {# <td>{{ critere.diagnostic.expertise }}</td> #}
                {# <td>{{ critere.diagnostic.statut_expert }}</td> #}
            {# </tr> #}
        {# {% endfor %} #}

        {% for users in user %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.nom }}</td>
                <td>{{ user.prenom }}</td>
            </tr>
        {% endfor %}
        <tfoot>
                {# <td><a href="{{ path("user_modifier") }}"><i class="fas fa-edit"></i></a></td>
               
                #}
        </tfoot>
    </table>

<h3>Mes diagnostic</h3>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>N°diagnostic</th><th>Date</th><th>Prix</th><th>Expertise</th>
                
            </tr>
        </thead>
        {% for critere in app.user.criteres %}
            <tr>
                <td>{{ critere.diagnostic.id }}</td>
                <td>{{ critere.diagnostic.date|date("d/m/Y") }} </td>
                <td>{{ critere.diagnostic.prix }}</td>
                <td>{{ critere.diagnostic.expertise }}</td>
            </tr>
        {% endfor %}
        <tfoot>
            <td><a href=""><i class="fas fa-edit"></i></a></td>
        </tfoot>
    </table>
{% endblock %}