{% extends 'base.html.twig' %}

{% block title %} e-Feng Shui {% endblock %}

{% block body %}


<h1>GESTION</h1>
<button id="clientsList">Liste des Clients</button>
<button id="diagList">Liste des Diagnostics</button>
<button id="demandesList">Liste des Demandes</button>
<div>
    <table class="table table-bordered">
        <thead class="entete">   
        </thead>
        <tbody class="corps">
        </tbody>
    </table>
<h1>{% trans %}MANAGEMENT{% endtrans %}</h1>
<button onclick="myFunction()">{% trans %}Customer List{% endtrans %}</button>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>{% trans %}Name{% endtrans %}</th><th>{% trans %}First name{% endtrans %}</th><th>{% trans %}E-mail{% endtrans %}</th><th>{% trans %}Roles{% endtrans %}</th><th colspan=2>{% trans %}Actions{% endtrans %}</th>
            </tr>
        </thead<
        {% for user in user %}
            <tr>
                <td>{{ user.nom}}</td>
                <td>{{ user.prenom}}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles|join(", ") }}</td>
                <td>
                    <a href="{{ path("user_update", { id: user.id }) }}">
                        <i class="fa fa-pen"></i>
                    </a>    
                </td>
                <td>
                    <a href="{{ path("user_delete", { id: user.id }) }}">
                        <i class="fa fa-trash"></i>
                    </a>    
                </td>
            </tr>
        {% endfor %}
        <tfoot>
            
        </tfoot>

    </table>
</div>
   
{% endblock %}