{% extends 'base.html.twig' %}



{% block title %} e-Feng Shui {% endblock %}

{% block body %}


<h2 class="titre">{% trans %}My account{% endtrans %}</h2>


<div class="flex-column-reverse">

  <div class="col-lg-12">
    <div class="card">
      <div class="cardbody">
        <h3 class="card-title">{% trans %}My diagnostics {% endtrans %}</h3>
            <table class="table table-bordered">
            <thead>
                <tr>
                    <th>{% trans %}N°diagnostic{% endtrans %}</th><th>{% trans %}Date{% endtrans %}</th><th>{% trans %}NPrix{% endtrans %}</th><th>{% trans %}Expertise{% endtrans %}</th>
                </tr>
            </thead>
            {% for critere in app.user.criteres %}
                <tr>
                    <td>{{ critere.diagnostic.id }}</td>
                    <td>{{ critere.diagnostic.date|date("d/m/Y") }} </td>
                    <td>{{ critere.diagnostic.prix }}</td>
                    <td>{{ critere.diagnostic.expertise }}</td>
                </tr>
            {% endfor %}
            <tfoot>
                    <td><a href=""><i class="fas fa-eye"></i></a></td>
            </tfoot>
            </table>
      </div>
    </div>
  </div>
  <div class="col-lg-12">
    <div class="card">
      <div class="cardbody">
        <h3 class="card-title">{% trans %}My informations {% endtrans %}</h3>
            <div class="form-group">
                <label for="nom">Mon identifiant</label>
                <input type="text" class="form-control" id="id" name="id" value="{{ app.user.id}}">
            </div>
            <div class="form-group">
                <label for="nom">Nom</label>
                <input type="text" class="form-control" id="nom" name="nom" value="{{ app.user.nom }}">
            </div>
            <div class="form-group">
                <label for="nom">Prenom</label>
                <input type="text" class="form-control" id="prenom" name="prenom" value="{{ app.user.prenom }}">
            </div>
            <a href="{{ path("user_modifier", {id: app.user.id}) }}" class="btn btn-dark">Modifier mon compte</a>
            <a href="{{ path("user_supprimer", {id: app.user.id}) }}" class="btn btn-dark">Supprimer mon Compte</a>
      </div>
    </div>
  </div>

</div>

{% endblock %}




