{% extends 'base.html.twig' %}

{% block title %} e-Feng Shui {% endblock %}

{% block body %}


<h2>{% trans %}My account{% endtrans %}</h2>


<h3>{% trans %}My informations {% endtrans %}</h3>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>{% trans %}Id{% endtrans %}</th><th>{% trans %}Name{% endtrans %}</th><th>{% trans %}First name{% endtrans %}</th>
                <th>{% trans %}Actions{% endtrans %}</th>
            </tr>
        </thead>

            <tr>
                <td>{{ app.user.id }}</td>
                <td>{{ app.user.nom }}</td>
                <td>{{ app.user.prenom }}</td>
                <td><a href="{{ path("user_modifier", {id: app.user.id}) }}"><i class="fas fa-edit"></i></a></td>
            </tr>

        <tfoot>

          
        </tfoot>
    </table>

<h3>{% trans %}My diagnostics {% endtrans %}</h3>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>{% trans %}Id {% endtrans %}</th><th>{% trans %}Date {% endtrans %}</th><th>{% trans %}Payment status{% endtrans %}</th><th>{% trans %}Price{% endtrans %}</th><th>{% trans %}Expertise {% endtrans %}</th><th>{% trans %}Expertise status{% endtrans %}</th>
                <th>{% trans %}Actions {% endtrans %}</th>
            </tr>
        </thead>

        <tbody>
        {% for critere in app.user.criteres %}
            <tr>
                <td>{{ critere.diagnostic.id }}</td>
                <td>{{ critere.diagnostic.date }}</td>
                <td>{{ critere.diagnostic.statut_paiement }}</td>
                <td>{{ critere.diagnostic.prix }}</td>
                <td>{{ critere.diagnostic.expertise }}</td>
                <td>{{ critere.diagnostic.statut_expert }}</td>
                <td><a href=""><i class="fas fa-eye"></i></a></td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        </tfoot>
    </table>

{% endblock %}