{% extends 'base.html.twig' %}

{% block title %} e-Feng Shui {% endblock %}

{% block body %}


<h2>Mon Compte</h2>


<h3>Mes informations</h3>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th><th>Nom</th><th>Prenom</th>
                <th>Actions</th>
            </tr>
        </thead>

        {% for critere in app.user.criteres %}
            <tr>
                <td>{{ critere.diagnostic.id }}</td>
                <td>{{ critere.diagnostic.date }}</td>
                <td>{{ critere.diagnostic.statut_paiement }}</td>
                <td>{{ critere.diagnostic.prix }}</td>
                <td>{{ critere.diagnostic.expertise }}</td>
                <td>{{ critere.diagnostic.statut_expert }}</td>
{ # quel for est correct # }

        {% for diagnostics in app.user.diagnostics %}
            <tr>
                <td>{{ app.diagnostics.id }}</td>
                <td>{{ app.diagnostics.date }}</td>
                <td>{{ app.diagnostics.statut_paiement }}</td>
                <td>{{ app.diagnostics.prix }}</td>
                <td>{{ app.diagnostics.expertise }}</td>
                <td>{{ app.diagnostics.statut_expert }}</td>

        {% for users in user %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.nom }}</td>
                <td>{{ user.prenom }}</td>

                

                

            </tr>

        {% endfor %}
        <tfoot>
                <td><a href="{{ path("user_modifier") }}"><i class="fas fa-edit"></i></a></td>
               
                 
   
        </tfoot>
    </table>

<h3>Mes diagnostic</h3>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th><th>Date</th><th>Statut paiement</th><th>Prix</th><th>Expertise</th><th>Statut expertise</th>
                
            </tr>
        </thead>

{ # A voir pour les tableaux et les for si erreur? Problème de conflit merge # }
            <tr>
                <td>{{ app.user.id }}</td>
                <td>{{ app.user.nom }}</td>
                <td>{{ app.user.prenom }}</td>

        {% for diagnostics in diagnostic %}
            <tr>
                <td>{{ diagnostic.id }}</td>
                <td>{{ diagnostic.date }}</td>
                <td>{{ diagnostic.statut_paiement }}</td>
                <td>{{ diagnostic.prix }}</td>
                <td>{{ diagnostic.expertise }}</td>
                <td>{{ diagnostic.statut_expert }}</td
                

              

            </tr>

        <tfoot>
                <td><a href=""><i class="fas fa-edit"></i></a></td>
               
                 
   
        </tfoot>
    </table>


   
{% endblock %}