{% extends 'base.html.twig' %}

{% block title %}Efengshui{% endblock %}

{% block body %}


<h2>Mon Compte</h2>

<h3>Mes diagnostics</h3>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th><th>Date</th><th>Statut paiement</th><th>Prix</th><th>Expertise</th><th>Statut expertise</th>
                
            </tr>
        </thead>
        {% for critere in app.user.criteres %}
            <tr>
                <td>{{ critere.diagnostic.id }}</td>
                <td>{{ critere.diagnostic.date }}</td>
                <td>{{ critere.diagnostic.statut_paiement }}</td>
                <td>{{ critere.diagnostic.prix }}</td>
                <td>{{ critere.diagnostic.expertise }}</td>
                <td>{{ critere.diagnostic.statut_expert }}</td>
            </tr>

        {% endfor %}
        <tfoot>
                <td><a href=""><i class="fas fa-edit"></i></a></td>
               
                 
   
        </tfoot>
    </table>

<h2>Mon Compte</h2>


<h3>Mes informations</h3>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th><th>Nom</th><th>Prenom</th>
                <th>Actions</th>
            </tr>
        </thead>
            <tr>
                <td>{{ app.user.id }}</td>
                <td>{{ app.user.nom }}</td>
                <td>{{ app.user.prenom }}</td>
            </tr>

        <tfoot>
                <td><a href=""><i class="fas fa-edit"></i></a></td>
               
                 
   
        </tfoot>
    </table>
    <button type="submit">Modifier</button>

   
{% endblock %}