{% extends 'base.html.twig' %}

{% block title %} e-Feng Shui {% endblock %}

{% block body %}
<div id="blocTgestion">
    <h1 class="titre">{% trans %}MANAGEMENT{% endtrans %}</h1>
    <div id="load"></div>
</div>
<div class="blocAdmin">
    <aside>
        <div class="btn-group-vertical">
            <button type="button" class="btn btn-secondary"id="clientsList">{% trans %}Customer List{% endtrans %}</button>
            <button type="button" class="btn btn-secondary" id="diagList">{% trans %}Diagnostic List{% endtrans %}</button>
            <button type="button" class="btn btn-secondary" id="demandesList">{% trans %}Request List{% endtrans %}</button>
        </div>
    </aside>
    <div id="blocResultat">
        <div class="flex-column-reverse" id="tabUser">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <table class="table table-bordered">
                            <thead class="entete"> 
                                <tr>
                                    <th>N°client</th>
                                    <th>Nom</th>
                                    <th>Prénom</th>
                                    <th>E-mail</th>
                                    <th>Rôles</th>
                                    <th colspan=2>Actions</th>
                                </tr> 
                            </thead>
                            <tbody class="corps">
                                {% for client in listeclient %}
                                    <tr>
                                        <td>{{client.id}}</td>
                                        <td>{{client.nom}}</td>
                                        <td>{{client.prenom}}</td>
                                        <td>{{client.email}}</td>
                                        <td>{{client.roles|join(", ")}}</td>
                                        <td><a href='id'><i class='fa fa-pen'></i></a></td>
                                        <td><a href='id'><i class='fa fa-trash'></i></a></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex-column-reverse" id="tabDiagnostic">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <table class="table table-bordered">
                            <thead class="entete"> 
                               <tr>
                                    <th>N°diagnostic</th>
                                    <th>N°dossier</th>
                                    <th>Titre</th>
                                    <th>Date</th>
                                    <th>Prix</th>
                                    <th>Expertise</th>
                                    <th>Envoyer</th>
                               </tr> 
                            </thead>
                            <tbody class="corps">
                                {% for diag in listediag %}
                                    <tr>
                                        <td>{{diag.id}}</td>
                                        <td>{{diag.critere.id}}</td>
                                        <td>{{diag.critere.titreDiagnostic}}</td>
                                        <td>{{diag.date|date("d/m/Y")}}</td>
                                        <td>{{diag.prix}}</td>
                                        <td><a href='' download='diactostic.pdf'><i class='fas fa-file-download'> </i></a></td>
                                        <td><a href='#'><button><i class='fas fa-envelope'></i></button></a></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex-column-reverse" id="tabCritere">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <table class="table table-bordered">
                            <thead class="entete">
                                <tr> 
                                    <th>N°dossier</th>
                                    <th>N°client</th>
                                    <th>Titre</th>
                                    <th>M²</th>
                                    <th>Lieu</th>
                                    <th>Annee</th>
                                    <th>Plan lieu</th>
                                    <th>Photo</th>
                                    <th>Orientation</th>
                                    <th colspan=2>Actions</th>
                                </tr> 
                            </thead>
                            <tbody class="corps">
                                {% for crit in listedemande %}
                                    <tr>
                                        <td>{{ crit.id }}</td>                              
                                        <td>{{ crit.user.id }}</td>                              
                                        <td>{{ crit.titreDiagnostic }}</td>                               
                                        <td>{{ crit.nbMCarre }}</td>                              
                                        <td>{{ crit.lieu }}</td>
                                        <td>{{crit.anneeConstr}}</td>                              
                                        <td><img src="../img/{{ crit.planLieu }}" alt="plan" class="imgdiagnostic"/></td>                              
                                        <td><img src="../img/{{ crit.photoLieu }}" alt="plan" class="imgdiagnostic"/></td>                              
                                        <td>{{ crit.orientation }}</td>
                                        <td class="tailleCel"><input type='file' name='pdfExpertise' accept='image/.pdf' class='tailleCel'/></td>
                                        <td><button type="button" class='valider'>OK</button></td>                              
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}